---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Donate',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget -->
  <HeroText tagline="Donate" title="We Appreciate Your Support!" />

  <section class="py-8">
    <div class="container mx-auto flex justify-center">
      <div class="w-full max-w-3xl px-4">
        <!-- DonorBox embed -->
        <script is:inline src="https://donorbox.org/widget.js" data-paypal-express="false"></script>
        <iframe
          src="https://donorbox.org/embed/bellmore-jfk-alumni-inc?"
          name="donorbox"
          data-allowpaymentrequest="allowpaymentrequest"
          seamless="seamless"
          frameborder="0"
          scrolling="no"
          style="max-width: 500px; min-width: 250px; max-height:none!important; border: none; overflow: hidden; margin: 0 auto; display: block;"
          height="900px"
          width="100%"
          allow="payment"
        >
        </iframe>
      </div>
    </div>
  </section>
</Layout>
