---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Bellmore JFK Alumni, Inc.',
  description: 'Connecting alumni and supporting the JFK community through events, news, and scholarships.',
  ignoreTitleTemplate: true,
};

const features = [
  {
    title: 'Stay Connected',
    description:
      'Join our mailing list to receive updates on events, news, and opportunities to support the JFK community.',
    icon: 'tabler:mail',
  },
  {
    title: 'Join the Association',
    description:
      'Become a member of the Bellmore JFK Alumni Association to access exclusive resources and networking opportunities.',
    icon: 'tabler:user-plus',
  },
  {
    title: 'Upcoming Events',
    description: 'Participate in reunions, networking events, and other gatherings to reconnect with fellow alumni.',
    icon: 'tabler:calendar-event',
  },
  {
    title: 'Support Scholarships',
    description: 'Contribute to scholarship funds to assist current students in achieving their academic goals.',
    icon: 'tabler:school',
  },
];
---

<Layout {metadata}>
  <!-- Hero Section -->
  <Hero
    actions={[
      { text: 'Join Now', href: getPermalink('#'), variant: 'primary' },
      { text: 'Learn More', href: getPermalink('/about') },
    ]}
    image={{ src: '~/assets/images/bellmore-jfk.png', alt: 'Bellmore JFK High School' }}
  >
    <Fragment slot="title">
      Welcome to the <span class="text-accent dark:text-white highlight">Bellmore JFK Alumni Association</span>
    </Fragment>
    <Fragment slot="subtitle">
      Connecting alumni and supporting the JFK community through events, news, and scholarships.
    </Fragment>
  </Hero>

  <!-- Features Section -->
  <Features title="Get Involved" items={features} />

  <!-- Call to Action -->
  <CallToAction
    title="Join Our Alumni Community"
    subtitle="Connect with fellow graduates, attend events, and stay updated on JFK news."
    actions={[
      {
        variant: 'primary',
        text: 'Become a Member',
        href: '/join',
        icon: 'tabler:user-plus',
      },
      {
        text: 'Contact Us',
        href: '/contact',
      },
    ]}
  />
</Layout>
